<style>
    p {
        text-align: right;
        margin-right: 5%;

    }
    button {
        margin-top: 3%;
        margin-left: 5%;
        

    }
    h2 {
        
        margin-left: 5%;
        margin-top: 3%;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 90%;
      margin-left: 5%;
      margin-right:5%;

    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    ul {
        text-align: center;
    }
    ul > li {
    display: inline-block;
    }
    </style>
    </head>
    <body>
    
    <h2>Event Detail</h2>
    
    <p > Workers Service: Active</p>
      
    <table>
      <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Difficulty</th>
        

        

    
    
      </tr>

     
      
      <tr>
        
        <td>{{id.id}}</td>
        <td>{{id.message}}</td>
        <td id="estado">Pending</td>
        
        
        
        

       


        
    
      </tr>
    
    

      
    </table>

    <button type="button" id="dificultad">Calculate Difficulty</button>
    <script rel="text/javascript" src= "../../functions/workers_connection.js"></script>
    </body>
  
  

  
  
